################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Business/bin/Debug/net6.0
/Business/obj
/Domain/bin/Debug/net6.0
/espserver/.vs
/espserver/bin/Debug/net6.0
/espserver/obj/Debug/net6.0
/espserver/espserver.csproj.user
/Infrastructer/bin/Debug/net6.0
/Infrastructer/obj
